name: Aspose Cells Cloud SDK for PHP

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: windows-latest

    env:
      CellsCloudClientId: ${{ secrets.PRODUCTCLIENTID }}
      CellsCloudClientSecret: ${{ secrets.PRODUCTCLIENTSECRET }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up PHP with OpenSSL on Windows
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'  # Adjust as needed
        extensions: openssl,zip
        ini-values: curl.cainfo=${{ github.workspace }}/cacert.pem
        coverage: none

    - name: Download cacert.pem
      run: curl -o cacert.pem https://curl.se/ca/cacert.pem

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run Example Codes
      shell: cmd
      run: |
        echo "API Key: ${{ secrets.PRODUCTCLIENTID }}"
        echo "API Key: $env:CellsCloudClientId"
        cd examples
        .\composer.bat install --prefer-dist --no-progress
        php .\Example_QuickStart.php
        php .\Conversion\Example_ConvertChart.php
        php .\Conversion\Example_ConvertExcel.php
        php .\Conversion\Example_ConvertRange.php
        php .\Conversion\Example_ConvertTable.php
        php .\Conversion\Example_ConvertWorksheet.php
        php .\Management\Example_CloudStorageManagement.php
        php .\DataProcessing\Example_ExcelSplit.php
        php .\TextProcessing\Example_TextProcessing.php
        php .\Transform\Example_DataCleaning.php
        php .\Transform\Example_FixExcelSpacesAndLineBreaks.php
